<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Imovel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="fGroup">
    <ion-item-divider>
      <ion-label>
        Detalhes do Imovel
      </ion-label>
    </ion-item-divider>
    <ion-list>
      <ion-item>
        <ion-label color="primary" fixed>Status do Imovel:</ion-label>
        <ion-select placeholder="Status" formControlName="status">
          <ion-select-option value="Disponível">Disponível</ion-select-option>
          <ion-select-option value="ALUGADO">ALUGADO</ion-select-option>
          <ion-select-option value="VENDIDO">VENDIDO</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label color="primary" fixed>Codigo Interno:</ion-label>
        <ion-input type="text" formControlName="codigo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary">Tipos de Imovel</ion-label>
        <ion-select placeholder="Tipos" formControlName="tipo">
          <ion-select-option value="Apartamento">Apartamento</ion-select-option>
          <ion-select-option value="Área lazer">Área lazer</ion-select-option>
          <ion-select-option value="Casa Condominio">Casa Condominio</ion-select-option>
          <ion-select-option value="Casa Rua">Casa Rua</ion-select-option>
          <ion-select-option value="Chacara">Chacara</ion-select-option>
          <ion-select-option value="Comercial">Comercial</ion-select-option>
          <ion-select-option value="Terreno Condomínio">Terreno Condomínio</ion-select-option>
          <ion-select-option value="Terreno Rua">Terreno Rua</ion-select-option>
          <ion-select-option value="Área Rural">Área Rural</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label color="primary" fixed> Número de Dormitórios:</ion-label>
        <ion-input type="number" formControlName="dormitorios"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" fixed> Número de Suítes:</ion-label>
        <ion-input type="number" formControlName="suites"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary">Finalidade</ion-label>
        <ion-select placeholder="Finalidade" formControlName="finalidade">
          <ion-select-option value="Venda">Venda</ion-select-option>
          <ion-select-option value="Locação">Locação</ion-select-option>
          <ion-select-option value="Venda/Locação">Venda/Locação</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label color="primary" fixed>Valor Condominio:</ion-label>
        <ion-input type="number" formControlName="valor_condominio"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" fixed>Valor IPTU:</ion-label>
        <ion-input type="number" formControlName="valor_iptu"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" fixed>Valor do Imovel:</ion-label>
        <ion-input type="number" formControlName="valor"></ion-input>
      </ion-item>
    </ion-list>
    <ion-item-divider>
      <ion-label>
        Endereço do Imovel
      </ion-label>
    </ion-item-divider>
    <ion-list>
      <ion-item>
        <ion-input type="text" placeholder="Endereço" color="primary" formControlName="endereco"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Bairro" color="primary" formControlName="bairro"></ion-input>
      </ion-item>
    </ion-list>
    <ion-item-divider>
      <ion-label>
        Área do Imovel
      </ion-label>
    </ion-item-divider>
    <ion-list>
      <ion-item>
        <ion-label color="primary" fixed>Área Útil:</ion-label>
        <ion-input type="number" formControlName="area_util"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" fixed>Área Total:</ion-label>
        <ion-input type="number" formControlName="area_total"></ion-input>
      </ion-item>
    </ion-list>
    <ion-item-divider>
      <ion-label>
        Proprietário
      </ion-label>
    </ion-item-divider>
    <ion-list>
      <ion-item>
        <ion-input type="text" placeholder="Proprietário" formControlName="proprietario"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" fixed>Telefone:</ion-label>
        <ion-input type="tel" placeholder="(  )_____-_____" formControlName="telefone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary">Aceita Permuta:</ion-label>
        <ion-select placeholder="Permuta" formControlName="permuta">
          <ion-select-option value="Sim">Sim</ion-select-option>
          <ion-select-option value="Não">Não</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label color="primary">Aniversário:</ion-label>
        <ion-datetime value="2019-01-01" min="1970-01" max="2020" [dayShortNames]="customDayShortNames"
          displayFormat="DD/MMM/YYYY" monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, des"
          formControlName="aniversario"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label color="primary" fixed>Canal:</ion-label>
        <ion-select placeholder="Canal" formControlName="canal">
          <ion-select-option value="Carteira">Carteira</ion-select-option>
          <ion-select-option value="OLX">OLX</ion-select-option>
          <ion-select-option value="Outros">Outros</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label color="primary" fixed>Visitas:</ion-label>
        <ion-select placeholder="Visitas" formControlName="visitas">
          <ion-select-option value="Aberta">Aberta</ion-select-option>
          <ion-select-option value="Agendar">Agendar</ion-select-option>
          <ion-select-option value="Chaves">Chaves</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-item-divider>
      <ion-label>
        Itens do Imovel
      </ion-label>
    </ion-item-divider>
    <ion-list>
      <ion-item>
        <ion-label color="primary">Piscina</ion-label>
        <ion-checkbox slot="end" formControlName="detalhe_um"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label color="primary">Area Lazer</ion-label>
        <ion-checkbox slot="end" formControlName="detalhe_dois"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label color="primary">Churrasqueira</ion-label>
        <ion-checkbox slot="end" formControlName="detalhe_tres"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-textarea rows="6" cols="20" placeholder="Comente sobre o imovel aqui..." formControlName="observacao">
        </ion-textarea>
      </ion-item>
    </ion-list>
    <ion-item-divider>
      <ion-label>
        Galeria de Imagens
      </ion-label>
    </ion-item-divider>
    <ion-list>
      <ion-button shape="round" type="file" color="primary" (change)="fileChanged($event)" fill="outline" #fileButton>
        Adicionar Imagens Novo
      </ion-button>

      <ion-item>
        <input type="file" (click)="uploadFile()" class="filebtn" #fileButton />
      </ion-item>
      <ion-item>
          <ion-button shape="round" color="primary" (click)="openGalery()" fill="outline">Upload File
            </ion-button>
      </ion-item>
      <ion-item>
        <div>
          <ion-grid>
            <ion-list>
              <ion-item *ngFor="let foto of product.imageURL">
                <ion-row>
                  <ion-col size="12">
                    <ion-img src="{{ foto }}" [(ngModel)]="product.imageURL" [ngModelOptions]="{standalone: true}"></ion-img>
                  </ion-col>
                </ion-row>
              </ion-item>
            </ion-list>
          </ion-grid>
        </div>
      </ion-item>
    </ion-list>

  </form>

</ion-content>

<ion-footer>
  <div>
    <ion-button expand="block" (click)="presentAlertConfirm()" [disabled]="!fGroup.valid">
      Salvar Imóvel
    </ion-button>
  </div>
</ion-footer>