<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Imovel</ion-title>

    <ion-button slot="end" (click)="compartilharWpp()" fill="default">
      <ion-icon name="share">Cancelar</ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="fGroup">
    <ion-item-divider>
      <ion-label>
        <b>Detalhes do Corretor</b>
      </ion-label>
    </ion-item-divider>
    <ion-list>
      <ion-item>
        <ion-label color="primary">Corretor Atual: </ion-label>{{userFixo}}
      </ion-item>
      <ion-item>
        <ion-label color="primary">Alterar Corretor: </ion-label>
        <ion-select placeholder="Corretor" [(ngModel)]="usuario.nome" [ngModelOptions]="{standalone: true}"
          [disabled]="logado.isAdmin != true">
          <ion-select-option value="null">Nenhum</ion-select-option>
          <ion-select-option *ngFor="let item of todosUsers" value="{{item.nome}}">{{item.nome}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-item-divider>
      <ion-label>
        <b>Detalhes do Imovel</b>
      </ion-label>
    </ion-item-divider>
    <ion-list>
      <ion-item>
        <ion-label color="primary" fixed>Status do Imovel:</ion-label>
        <ion-select placeholder="Status" formControlName="status" rel="preload">
          <ion-select-option value="Disponível">Disponível</ion-select-option>
          <ion-select-option value="ALUGADO">ALUGADO</ion-select-option>
          <ion-select-option value="VENDIDO">VENDIDO</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label color="primary" fixed>Codigo Interno:</ion-label>
        <ion-input type="text" formControlName="codigo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary">Tipos de Imovel</ion-label>
        <ion-select placeholder="Tipos" formControlName="tipo">
          <ion-select-option value="Apartamento">Apartamento</ion-select-option>
          <ion-select-option value="Área lazer">Área lazer</ion-select-option>
          <ion-select-option value="Casa Condominio">Casa Condominio</ion-select-option>
          <ion-select-option value="Casa Rua">Casa Rua</ion-select-option>
          <ion-select-option value="kitnet">kitnet</ion-select-option>
          <ion-select-option value="Chacara">Chacara</ion-select-option>
          <ion-select-option value="Comercial">Comercial</ion-select-option>
          <ion-select-option value="Terreno Condomínio">Terreno Condomínio</ion-select-option>
          <ion-select-option value="Terreno Rua">Terreno Rua</ion-select-option>
          <ion-select-option value="Área Rural">Área Rural</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label color="primary" fixed> Número de Dormitórios:</ion-label>
        <ion-input type="number" formControlName="dormitorios"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" fixed> Número de Suítes:</ion-label>
        <ion-input type="number" formControlName="suites"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary">Finalidade</ion-label>
        <ion-select placeholder="Finalidade" formControlName="finalidade">
          <ion-select-option value="Venda">Venda</ion-select-option>
          <ion-select-option value="Locação">Locação</ion-select-option>
          <ion-select-option value="Venda/Locação">Venda/Locação</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label color="primary" fixed>Valor Condominio:</ion-label>
        <ion-input type="text" formControlName="valor_condominio"
          [brmasker]="{money: true, thousand: '.',  decimalCaracter: ',', decimal: '2'}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" fixed>Valor IPTU:</ion-label>
        <ion-input type="text" formControlName="valor_iptu"
          [brmasker]="{money: true, thousand: '.',  decimalCaracter: ',', decimal: '2'}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" fixed>Valor do Imovel:</ion-label>
        <ion-input type="text" formControlName="valor"
          [brmasker]="{money: true, thousand: '.',  decimalCaracter: ',', decimal: '2'}">
        </ion-input>
      </ion-item>
    </ion-list>
    <ion-item-divider>
      <ion-label>
        <b>Endereço do Imovel</b>
      </ion-label>
    </ion-item-divider>
    <ion-list>
      <ion-item>
        <ion-input type="text" placeholder="Endereço" color="primary" formControlName="endereco"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Bairro" color="primary" formControlName="bairro"></ion-input>
      </ion-item>
    </ion-list>
    <ion-item-divider>
      <ion-label>
        <b>Área do Imovel</b>
      </ion-label>
    </ion-item-divider>
    <ion-list>
      <ion-item>
        <ion-label color="primary" fixed>Área Útil:</ion-label>
        <ion-input type="number" formControlName="area_util"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" fixed>Área Total:</ion-label>
        <ion-input type="number" formControlName="area_total"></ion-input>
      </ion-item>
    </ion-list>
    <ion-item-divider>
      <ion-label>
        <b>Proprietário</b>
      </ion-label>
    </ion-item-divider>
    <ion-list>
      <ion-item>
        <ion-label color="primary" fixed>Proprietário:</ion-label>
        <ion-input type="text" placeholder="Proprietário" formControlName="proprietario"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" fixed>Telefone:</ion-label>
        <ion-input formControlName="telefone" mask="(00) 0000-0000" placeholder="(99) 9999-9999" type="tel"
          maxlength="14"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" fixed>Celular:</ion-label>
        <ion-input formControlName="celular" mask="(00) 0 0000-0000" placeholder="(99) 9 9999-9999" type="tel"
          maxlength="18"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary">Aceita Permuta:</ion-label>
        <ion-select placeholder="Permuta" formControlName="permuta">
          <ion-select-option value="Sim">Sim</ion-select-option>
          <ion-select-option value="Não">Não</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label color="primary">Aniversário:</ion-label>
        <ion-datetime value="2019-01-01" min="1970-01" max="2020" [dayShortNames]="customDayShortNames"
          displayFormat="DD/MMM/YYYY" monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez"
          formControlName="aniversario"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label color="primary" fixed>Canal:</ion-label>
        <ion-select placeholder="Canal" formControlName="canal">
          <ion-select-option value="Carteira">Carteira</ion-select-option>
          <ion-select-option value="OLX">OLX</ion-select-option>
          <ion-select-option value="Facebook">Facebook</ion-select-option>
          <ion-select-option value="Outros">Outros</ion-select-option>

        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label color="primary" fixed>Visitas:</ion-label>
        <ion-select placeholder="Visitas" formControlName="visitas">
          <ion-select-option value="Aberta">Aberta</ion-select-option>
          <ion-select-option value="Agendar">Agendar</ion-select-option>
          <ion-select-option value="Chaves">Chaves</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-item-divider>
      <ion-label>
        <b>Itens do Imovel</b>
      </ion-label>
    </ion-item-divider>
    <ion-list>
      <ion-item>
        <ion-label color="primary">Piscina</ion-label>
        <ion-checkbox slot="end" formControlName="detalhe_um"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label color="primary">Area Lazer</ion-label>
        <ion-checkbox slot="end" formControlName="detalhe_dois"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label color="primary">Churrasqueira</ion-label>
        <ion-checkbox slot="end" formControlName="detalhe_tres"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-textarea rows="6" cols="20" placeholder="Comente sobre o imovel aqui..." formControlName="observacao">
        </ion-textarea>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-button name="upfile" shape="round" color="primary" (click)="uploadFile()" expand="block" [disabled]="buttonDisabled">
        Adicionar Fotos / Vídeos
      </ion-button>
      <ion-item>
        <input type="file" (change)="fileChanged($event)" class="filebtn" #fileButton [hidden]="true"
          class="ion-hide" />
      </ion-item>

      <ion-button (click)="PickMultipleImages()">
        Pick Multiple Images
      </ion-button>


    </ion-list>
    <ion-item-divider>
      <ion-label>
        <b>Vídeo do Imovel</b>
      </ion-label>
    </ion-item-divider>
    <ion-list>
      <ion-item *ngIf="product.video != null">
        <ion-chip expand="block" (click)="presentAlertDeleteVideo()">
          <ion-icon name="cloud-done" color="primary"></ion-icon>
          <ion-label>{{ video }}</ion-label>
        </ion-chip>
      </ion-item>
    </ion-list>
    <ion-item-divider>
      <ion-label>
        <b>Galeria de Imagens</b>
      </ion-label>
    </ion-item-divider>
    <ion-list>
      <ion-item *ngIf="product.images">
        <div>
          <ion-list>
            <ion-item *ngFor="let foto of product.images; let i = index">
              <ion-row>
                <ion-col size="12">
                  <ion-img src="{{ foto }}" name="images" [(ngModel)]="product.images" *ngIf="product.images"
                    [ngModelOptions]="{standalone: true}" ngDefaultControl (click)="presentAlertDeleteArrayFoto(i)">
                  </ion-img>
                </ion-col>
              </ion-row>
            </ion-item>
          </ion-list>
        </div>
      </ion-item>
    </ion-list>

  </form>

</ion-content>

<ion-footer>
  <div class="centralizado">
    <ion-button expand=" block" shape="round" (click)="presentAlertSalvarProduto()" [disabled]="!fGroup.valid"
      expand="block">
      Salvar Imóvel
    </ion-button>
  </div>
</ion-footer>