ion-input {
    text-align: right;    
}

ion-toolbar{
    --background: #993399;
    color: #fff;
}

ion-item-divider{
    --background: #993399;
    color: #fff;
}

ion-button{
    --background: #993399;
}

.filebtn {
	opacity: 0;
	position: absolute;
	top: -100em;
	left: -100em;
}