ion-input {
    text-align: right;    
}

ion-toolbar{
    --background: #4B0082;
    color: #fff;
}

ion-item-divider{
    --background: #4B0082;
    color: #fff;
}

ion-button{
    --background: #4B0082;
    text-align: center;
}

ion-icon{
    color: #fff;
}

ion-chip{
    text-align: center;
}

.filebtn {
    opacity: 0;
}

.centralizado{
    text-align: center;
}