<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>

		<ion-title>Perfil</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-card>
			<ion-card-header>
				<img src="https://ucarecdn.com/bd144f77-1aed-4458-a73d-9abbf2b41d7a/logooriginal.jpeg">
			</ion-card-header>
		</ion-card>

		<ion-card>
			<ion-item>
				<ion-avatar slot="start">
					<img src="https://ucarecdn.com/cef0d778-9a41-4fa6-a232-b4682ca37332/regis">
				</ion-avatar>
				<ion-label><b>Desenvolvedor</b> Régis</ion-label>
				<ion-button slot="end" shape="round" (click)="alterarPerfil()">Alterar</ion-button>
			</ion-item>

			<ion-item class="activated">
				<ion-icon name="mail-unread" slot="start" color="primary"></ion-icon>
				<ion-label>contatoweboliver@hotmail.com.br</ion-label>
			</ion-item>
		</ion-card>

	</ion-list>


</ion-content>