<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>

		<ion-title>Perfil</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-card>
			<ion-card-header>
				<img src="https://ucarecdn.com/bd144f77-1aed-4458-a73d-9abbf2b41d7a/logooriginal.jpeg">
			</ion-card-header>
		</ion-card>

		<ion-card>
			<ion-item>
				<ion-avatar slot="start" *ngIf="usuario.foto != null">
					<img src="{{ usuario.foto }}">
				</ion-avatar>
				<ion-avatar slot="start" *ngIf="usuario.foto == null">
					<img src="https://ucarecdn.com/6632a73e-6e9a-4092-9138-7b3395c4f96c/perfil.jpg">
				</ion-avatar>
				<ion-label><b>{{ usuario.nome }}</b></ion-label>
				<ion-button slot="end" shape="round" (click)="showModalPerfil()">Alterar</ion-button>
			</ion-item>

			<ion-item class="activated">
				<ion-icon name="mail-unread" slot="start" color="primary"></ion-icon>
				<ion-label>{{ usuario.email }}</ion-label>
			</ion-item>
			<ion-item class="activated" *ngIf="usuario.isAdmin == true">
				<ion-icon name="heart" slot="start" color="warning"></ion-icon>
				<ion-label><b>Administrador</b></ion-label>
			</ion-item>
		</ion-card>

	</ion-list>

</ion-content>

<ion-footer>
	<ion-item>
		<ion-label><b><i>c.imob</i></b></ion-label>
		<ion-badge slot="end" color="warning">version 1.0.0</ion-badge>
	</ion-item>
</ion-footer>