.container{
    position: fixed;
    left: 0;
    right: 0;
    width: 75%;
    margin: 0 auto;
    z-index: 2;
    text-align: center;

    &.top{
        top:5%;
    }
}

ion-slides{
    height: 100%;

    .slide-inner{
        width: 75%;
        color: #fff;
        background-color: #4B0082;
        border-radius: 10px;

        ion-item{
            --background: rgba(255,255,255,0.2);
            --border-radius:10px;

            ion-input{
                --color:#fff;
            }
        }
    }
}

ion-content{
    --ion-background-color:#4B0082;
}