<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Galeria de Imagens</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-button (click)="openGalery()" expand="block" color="warning">
        Escolher foto
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Progresso do upload:{{ uploadPercent | async }}%</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">URL do Download: {{ downloadUrl | async }}</ion-label>
    </ion-item>
    <ion-item>
      <img [src]="downloadUrl | async" *ngIf="downloadUrl | async">
    </ion-item>
  </ion-list>
</ion-content>